.cart {
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    width: 450px;

    text-align: center;
    .header {
        border-bottom: 1px solid #d3d3d3;
        h1 {
            font-size: 24px;
        }
    }
    .total {
        display: flex;
        justify-content: space-around;
    }
    .frete {
        background-color: #c7ffa6;
        border-radius: 10px;
        padding: 5px;
    }
    .btn-primary {
        margin-bottom: 15px;
    }
}
